


header{width:100%;
  border-bottom-style: groove;
  border-bottom-width: medium;
  border-bottom-color: black;
     }

    header img{ width: 10%; /*width of image*/ 
      padding: 4em; 2em; 0em; 2em;
               }

   h1{

    display:inline; /*Balance of space left by logo.*/
    font-family: 'Abel', sans-serif; font-size: 6em; /*google font*/
     line-height: 3em;
    padding-left: .5em; 
    vertical-align: text-bottom;
    
}


section {float:right;
        width: 80%}

section img { display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4em;
    
  padding:5px;
   border:5px solid #021a40;
   background-color:#663300;}


section p {margin-left: auto;
          margin-right: auto;
          width: 60em;}




html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
    background-color: #8FBC8F;
	color: #000000;
    margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;